! special
*.foreground:   #d4d4d5
*.background:   #101317
*.cursorColor:  #d4d4d5

! black
*.color0:       #23242A
*.color8:       #949494

! red
*.color1:       #f87070
*.color9:       #f87070

! green
*.color2:       #79dcaa
*.color10:      #36c692

! yellow
*.color3:       #ffe59e
*.color11:      #ffe59e

! blue
*.color4:       #7ab0df
*.color12:      #7ab0df

! magenta
*.color5:       #c397d8
*.color13:      #b77ee0

! cyan
*.color6:       #70c0ba
*.color14:      #54ced6

! white
*.color7:       #d4d4d5
*.color15:      #ffffff
