! special
*.foreground:   #d9d7d6
*.background:   #061115
*.cursorColor:  #d9d7d6

! black
*.color0:       #1c252c
*.color8:       #484e5b

! red
*.color1:       #df5b61
*.color9:       #f16269

! green
*.color2:       #78b892
*.color10:      #8cd7aa

! yellow
*.color3:       #de8f78
*.color11:      #e9967e

! blue
*.color4:       #6791c9
*.color12:      #79aaeb

! magenta
*.color5:       #bc83e3
*.color13:      #c488ec

! cyan
*.color6:       #67afc1
*.color14:      #7acfe4

! white
*.color7:       #d9d7d6
*.color15:      #e5e5e5

!! URxvt
URxvt.font: xft:Iosevka:size=9
URxvt.letterSpace: 0
URxvt.lineSpace: 2
URxvt.internalBorder: 28
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.termName: rxvt-256color
URxvt.iso14755: false
URxvt.iso14755_52: false

! URxvt extension
URxvt.perl-ext-common: default,url-select,resize-font,prevent-close
URxvt.keysym.Control-Shift-C: eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V: eval:paste_clipboard
URxvt.keysym.Control-Up: eval:scroll_up 1
URxvt.keysym.Control-Down: eval:scroll_down 1
URxvt.keysym.Control-Home: eval:scroll_to_top
URxvt.keysym.Control-End: eval:scroll_to_bottom

! Resize Font Ext
URxvt.resize-font.step: 1
URxvt.keysym.Control-minus: resize-font:smaller
URxvt.keysym.Control-plus: resize-font:bigger
URxvt.keysym.Control-equal: resize-font:reset
URxvt.keysym.Control-question: resize-font:show

! URL Select Ext
URxvt.keysym.Control-Shift-U: url-select:select_next
URvxt.url-select.button: 2
URxvt.url-select.launcher: qutebrowser
URxvt.url-select.underline: true
